*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: $background_principal;
}

img{
    max-width: 100%;
    height: auto;
}

nav ul li a{
    text-decoration: none;
    color: white; 
}