header{
    width: 90%;
    margin: 0 auto 35px auto;
}

.header__iconos{
    text-align: right;
    display: block;
    margin-right: 0;
}

.header__iconos ul{
    list-style: none;
}

.header__iconos ul li{
    display: inline-block;
    padding: 15px 0 0 5px;
}

.header__logo{
    position: flex;
    justify-content: center;
    align-content: center;
    margin: 50px auto 50px auto;


}

.header__logo img{
    position: relative;
    display: block;
    margin: 10px auto 10px auto;
    

}